html, body
{
    height: 100%;
}

body
{
	margin: 0 auto;  
	width: 1880px; 
	font-family: Arial, Helvetica, sans-serif;
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    

    background-color: #d9dee2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#d9dee2));
    background-image: -webkit-linear-gradient(top, #81a8cb, #d9dee2);
    background-image: -moz-linear-gradient(top, #81a8cb, #d9dee2);
    background-image: -ms-linear-gradient(top, #81a8cb, #d9dee2);
    background-image: -o-linear-gradient(top, #81a8cb, #d9dee2);
    background-image: linear-gradient(top, #81a8cb, #d9dee2);    
}


#wrapper
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 95%;
    width: 95%;
	top:2%;
    margin: auto auto;
    position: relative;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

* {margin: 0; padding: 0; outline: none;}

img {border: none;}

a { 
	text-decoration:none; 
	background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

	float:left;
    height: 15px;
    padding: 0;
    width: 80%;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 20px 0;
    letter-spacing: 3px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

h1:after, h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 60px;
    width: 65px;   
}

h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}




.post
{
	
    float:left;
    width: 12%;
	height: 100%;
	border-right:1px solid #d9dee2;
	position:absolute;
		
}

.main {
	float:none;
    width: 88%;
	position:absolute;
	margin: 0 12%;
	padding: 10px;
	
}
.custdata{

    text-transform: uppercase;
    text-align: right;
    color: #d9dee2;
    padding-left:50px;
    letter-spacing: 2px;
    font: normal 15px/1 Verdana, Helvetica;
    position: absolute;
	

}


#panel li.custdataholder { 
	padding-top: 550px;
	position:absolute;
	-moz-transition: all 0.4s ease-in-out; 
	-moz-transform:translateX(0px); 
	-o-transition: all 0.4s ease-in-out; 
	-o-transform:translateX(0px); 
	-webkit-transition: all 0.4s ease-in-out; 
	-webkit-transform:translateX(0px); 
	text-transform: uppercase;
    text-align: left;
    color: #666;
    letter-spacing: 3px;
    font: normal 10px/1 Verdana, Helvetica;
	
}



#content{
	padding-top:10px;
	width:100%;



}

#panel { 
	list-style:none; 
	padding-top:10px;
	padding-left:15px;
	width:100%;
	
	
	
}
/* FIRST EXAMPLE */


#panel li {  
	border-radius:15px 15px 15px 3px; 
	margin-top:0px;
	width:90%;

}

#panel li.animation { 
	-moz-transition: all 0.4s ease-in-out; 
	-moz-transform:translateX(0px); 
	-o-transition: all 0.4s ease-in-out; 
	-o-transform:translateX(0px); 
	-webkit-transition: all 0.4s ease-in-out; 
	-webkit-transform:translateX(0px); 
}

#panel li.animation:hover { 
	-moz-transform:translateX(14px);
	-o-transform:translateX(14px);
	-webkit-transform:translateX(14px);
}
/*changing the padding will expand the boxes*/
#panel li a { 
	color: linear-gradient(top, #fddb6f, #ffb94b);; 
	display:inline; 
	padding:15px;
}

#panel li a:hover { 
	color:#fff;
}



@-moz-keyframes bounceX {
			0% { -moz-transform: translateX(-205px); -moz-animation-timing-function: ease-in; }
			
			40% { -moz-transform: translateX(-100px); -moz-animation-timing-function: ease-in; }
			65% { -moz-transform: translateX(-52px); -moz-animation-timing-function: ease-in; }
			82% { -moz-transform: translateX(-25px); -moz-animation-timing-function: ease-in; }
			92% { -moz-transform: translateX(-12px); -moz-animation-timing-function: ease-in; }
			
			55%, 75%, 87%, 97%, 100% { -moz-transform: translateX(0px); -moz-animation-timing-function: ease-out; }
}

@-webkit-keyframes bounceX {
			0% { -webkit-transform: translateX(-205px); -webkit-animation-timing-function: ease-in; }
			
			40% { -webkit-transform: translateX(-100px); -webkit-animation-timing-function: ease-in; }
			65% { -webkit-transform: translateX(-52px); -webkit-animation-timing-function: ease-in; }
			82% { -webkit-transform: translateX(-25px); -webkit-animation-timing-function: ease-in; }
			92% { -webkit-transform: translateX(-12px); -webkit-animation-timing-function: ease-in; }
			
			55%, 75%, 87%, 97%, 100% { -webkit-transform: translateX(0px); -webkit-animation-timing-function: ease-out; }
}